<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>
    <%= title %>
  </title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <!-- Tailwind CSS -->
  <!-- <link href="/src/output.css" rel="stylesheet"> -->
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">

</head>

<body id="page-top">
  
    <!-- Page Wrapper -->
    <div id="wrapper">

      <%- include('../partials/sidebarEcatalog'); %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">
            <%- include('../partials/topbarEcatalog'); %>
            <!-- Topbar -->
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

              <!-- Page Heading -->
              <div class="d-sm-flex align-items-center justify-content-between mb-2 mt-2">
                <h1 class="h3 mb-0 text-blue-600 underline">Partner</h1>
                <!-- <h1 class="text-3xl">Hello world!</h1> -->
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Partner Report</a>
              </div>

              <!-- Content Row -->

              <div class="row">

                <!-- Row 1 Card Example -->
                <div class="col-xl-2 col-md-4 mb-2">
                  <div class="card shadow py-0">
                    <div class="card-body p-0">
                      <a class="border-0" href="/#">
                        <img class="image-container" src="/img/iconBrand/b100/hiwin100x55.svg" title="Hiwin">
                      </a>
                    </div>
                  </div>
                </div>

                <div class="col-xl-2 col-md-4 mb-2">
                  <div class="card shadow py-0">
                    <div class="card-body p-0">
                      <a class="border-0" href="/#">
                        <img class="image-container" src="/img/iconBrand/b100/panasonic100x55.svg" title="Panasonic">
                      </a>
                    </div>
                  </div>
                </div>

                <div class="col-xl-2 col-md-4 mb-2">
                  <div class="card shadow py-0">
                    <div class="card-body p-0">
                      <a class="border-0" href="/#">
                        <img class="image-container" src="/img/iconBrand/b100/muscle100x55.svg" title="Cool Muscle">
                      </a>
                    </div>
                  </div>
                </div>

                <div class="col-xl-2 col-md-4 mb-2">
                  <div class="card shadow py-0">
                    <div class="card-body p-0">
                      <a class="border-0" href="/#">
                        <img class="image-container" src="/img/iconBrand/b100/shibaura100x55.svg" title="Shibaura">
                      </a>
                    </div>
                  </div>
                </div>

                <div class="col-xl-2 col-md-4 mb-2">
                  <div class="card shadow py-0">
                    <div class="card-body p-0">
                      <a class="border-0" href="/#">
                        <img class="image-container" src="/img/iconBrand/b100/yamaha100x55.svg" title="Yamaha">
                      </a>
                    </div>
                  </div>
                </div>

                <!-- Row 2 Card Example -->
                <div class="col-xl-2 col-md-4 mb-2">
                  <div class="card shadow py-0">
                    <div class="card-body p-0">
                      <a class="border-0" href="/#">
                        <img class="image-container" src="/img/iconBrand/b100/icotek100x55.svg" title="Icotek">
                      </a>
                    </div>
                  </div>
                </div>

                <div class="col-xl-2 col-md-4 mb-2">
                  <div class="card shadow py-0">
                    <div class="card-body p-0">
                      <a class="border-0" href="/#">
                        <img class="image-container" src="/img/iconBrand/b100/tmRobot100x55.svg" title="TM Robot">
                      </a>
                    </div>
                  </div>
                </div>

                <div class="col-xl-2 col-md-4 mb-2">
                  <div class="card shadow py-0">
                    <div class="card-body p-0">
                      <a class="border-0" href="/#">
                        <img class="image-container" src="/img/iconBrand/b100/toshiba100x55.svg" title="Toshiba">
                      </a>
                    </div>
                  </div>
                </div>

                <div class="col-xl-2 col-md-4 mb-2">
                  <div class="card shadow py-0">
                    <div class="card-body p-0">
                      <a class="border-0" href="/#">
                        <img class="image-container" src="/img/iconBrand/b100/weintek100x55.svg" title="Weintek">
                      </a>
                    </div>
                  </div>
                </div>

                <!-- <div class="col-xl-2 col-md-4 mb-2">
                  <div class="card shadow py-0">
                    <div class="card-body p-0">
                      <a class="border-0" href="/#">
                        <img class="image-container" src="/img/iconBrand/b100/mitsubishiElectric100x55.svg"
                          title="Mitsubishi Electric">
                      </a>
                    </div>
                  </div>
                </div> -->

                <div class="col-xl-2 col-md-4 mb-2">
                  <div class="card shadow py-0">
                    <div class="card-body p-0">
                      <a class="border-0" href="/#">
                        <img class="image-container" src="/img/iconBrand/b100/secomea100x55.svg" title="Seacomea">
                      </a>
                    </div>
                  </div>
                </div>

                <div class="col-xl-2 col-md-4 mb-2">
                  <div class="card shadow py-0">
                    <div class="card-body p-0">
                      <a class="border-0" href="/#">
                        <img class="image-container" src="/img/iconBrand/b100/troax100x55.svg" title="Troax">
                      </a>
                    </div>
                  </div>
                </div>

                <div class="col-xl-2 col-md-4 mb-2">
                  <div class="card shadow py-0">
                    <div class="card-body p-0">
                      <a class="border-0" href="/#">
                        <img class="image-container" src="/img/iconBrand/b100/nidec100x55.svg" title="Nidec">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-2 col-md-4 mb-2">
                  <div class="card shadow py-0">
                    <div class="card-body p-0">
                      <a class="border-0" href="/#">
                        <img class="image-container" src="/img/iconBrand/b100/convum100x55.svg" title="Covum">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-2 col-md-4 mb-2">
                  <div class="card shadow py-0">
                    <div class="card-body p-0">
                      <a class="border-0" href="/#">
                        <img class="image-container" src="/img/iconBrand/b100/nabtesco100x55.svg" title="Nabtesco">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Main Content -->

          <!-- Footer -->
          <%- include('../partials/footerEcatalog'); %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->




    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>

</body>

</html>