<footer class="sticky-footer bg-white p-2">
  <div class="container my-auto">
    <div class="row">
      <div class="col-2 mr-auto"></div>
      <div class="col-4 copyright text-center my-auto"><span>Copyright &copy; PAC E-CATALOG 2025</span></div>
      <div class="col-2 ml-auto text-right">
        <a class="ml-auto" href="#"><i class="fab fa-line fa-fw"></i></a>
        <a class="ml-auto" href="#"><i class="fab fa-youtube-square fa-fw"></i></a>
        <a class="ml-auto" href="#"><i class="fab fa-google-plus-g fa-fw"></i></a>
        <a class="ml-auto" href="#"><i class="fab fa-facebook fa-fw"></i></a>
        <a class="ml-auto" href="#"><i class="fab fa-whatsapp fa-fw"></i></a>
      </div>
    </div>
  </div>
</footer>