    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-solid fa-business-time"></i>
            </div>
            <div class="sidebar-brand-text mx-3">PAC APP<sup>2</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/stockCard/Report">
                <i class="fas fa-fw fa-archive"></i>
                <span>Stock Card</span></a>
        </li>

        <!-- Nav Item - Stock Menu A........ -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#stockCardA"
                aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-archive"></i>
                <span>Brands (A)</span>
            </a>
            <div id="stockCardA" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                   <!-- <h6 class="collapse-header">Back end :</h6>-->
                    <a class="collapse-item" href="/stockCard/Report/c54fe7d9-cdf3-4a55-afaf-571bbbc9c9df">ADLINK</a>
                    <a class="collapse-item" href="/stockCard/Report/09e05565-aaba-4589-9e5a-09b5dc35e596">ADTECH</a>
                    <a class="collapse-item" href="/stockCard/Report/53e86f03-310f-4ff0-bb46-82c72b41bb59">AIRMAJOR</a>
                    <a class="collapse-item" href="/stockCard/Report/8716bdab-f452-4640-9aae-57ea95052a3d">APEX</a>
                    <a class="collapse-item" href="/stockCard/Report/55899584-bd6a-4d56-94bd-2022716d3e81">AUTONICS</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Stock Menu C........-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#stockCardC"
                aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-archive"></i>
                <span>Brands (C)</span>
            </a>
            <div id="stockCardC" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <!-- <h6 class="collapse-header">Back end :</h6>-->
                    <a class="collapse-item" href="/stockCard/Report/f6b91950-c749-43fe-8fca-5e72441f566f">CARLO</a>
                    <a class="collapse-item" href="/stockCard/Report/14874c65-fb80-4117-a3c5-17aa8f77fe0a">CONVUM</a>
                    <a class="collapse-item" href="/stockCard/Report/36dab15a-8969-4105-b6d7-935ca43bf810">COOL MUSCLE</a>
                    <a class="collapse-item" href="/stockCard/Report/ab9171ec-cff0-4453-87ce-667646ce2c59">COP</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Stock Menu D........-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#stockCardD"
                aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-archive"></i>
                <span>Brands (D) (E) (F)</span>
            </a>
            <div id="stockCardD" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <!-- <h6 class="collapse-header">Back end :</h6>-->
                    <a class="collapse-item" href="/stockCard/Report/f546e6ba-4ae1-4c9d-aabc-bb8e0b81b21a">DENCO</a>
                    <a class="collapse-item" href="/stockCard/Report/af06aa51-ba9f-42c4-bce7-c5ffb18ed09a">D-SUB</a>
                    <a class="collapse-item" href="/stockCard/Report/87b01032-6304-479d-921b-a846e8416089">EMARK</a>
                    <a class="collapse-item" href="/stockCard/Report/071e53d2-c66f-4f83-902d-080a0a227332">EURODIUM</a>
                    <a class="collapse-item" href="/stockCard/Report/526d2f47-7b5c-40cb-a72e-1259a4979d94">FUJI</a>
                </div>
            </div>
        </li>          

        <!-- Nav Item - Stock Menu H........-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#stockCardH"
                aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-archive"></i>
                <span>Brands (H)</span>
            </a>
            <div id="stockCardH" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <!-- <h6 class="collapse-header">Back end :</h6>-->
                    <a class="collapse-item" href="/stockCard/Report/7eeeec7a-9394-4c66-9b2b-24b14dfe447b">HIWIN</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Stock Menu I........-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#stockCardI"
                aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-archive"></i>
                <span>Brands (I) (J) (K) (L)</span>
            </a>
            <div id="stockCardI" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <!-- <h6 class="collapse-header">Back end :</h6>-->
                    <a class="collapse-item" href="/stockCard/Report/fc4c1b94-7aa2-4d3f-835e-a5ed38bfda69">ISEL</a>
                    <a class="collapse-item" href="/stockCard/Report/a37be727-cd6c-4389-82aa-55fad4b8289e">JAPAN</a>
                    <a class="collapse-item" href="/stockCard/Report/0a25bd6c-2ee6-4670-ba16-92d280e55589">KAGANEI</a>
                    <a class="collapse-item" href="/stockCard/Report/4ef8a6f9-3de4-489d-a95f-07126e78823b">KAMO</a>
                    <a class="collapse-item" href="/stockCard/Report/ce0479fe-fb3d-46e5-9dc0-47452404cca0">LS</a>
                </div>
            </div>
        </li>


        <!-- Nav Item - Stock Menu M........-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#stockCardM"
                aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-archive"></i>
                <span>Brands (M) (N)</span>
            </a>
            <div id="stockCardM" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <!-- <h6 class="collapse-header">Back end :</h6>-->
                    <a class="collapse-item" href="/stockCard/Report/274fbb65-f18b-4734-bea6-648293acbfa9">MENWELL</a>
                    <a class="collapse-item" href="/stockCard/Report/17941b4f-f709-4630-a2c4-0839c720da79">MITSUBISHI JAPAN</a>
                    <a class="collapse-item" href="/stockCard/Report/6779446b-989f-43d6-97cd-38a1a34882a1">MITSUBISHI THAI</a>
                    <a class="collapse-item" href="/stockCard/Report/fd728855-0649-45b8-951d-13a7327e9ddf">NIDEC SANKYO</a>
                    <a class="collapse-item" href="/stockCard/Report/e5fddc1a-4a64-4ed8-ade8-5cf4e52fac99">NSB</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Stock Menu O........-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#stockCardO"
                aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-archive"></i>
                <span>Brands (O)</span>
            </a>
            <div id="stockCardO" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <!-- <h6 class="collapse-header">Back end :</h6>-->
                    <a class="collapse-item" href="/stockCard/Report/9c7dce04-f7e1-4ee3-8467-a35188e52b97">OHMDENKI</a>
                    <a class="collapse-item" href="/stockCard/Report/c45f8889-29c9-4ec4-87af-e8ca83efcb41">OIL</a>
                    <a class="collapse-item" href="/stockCard/Report/bf28720a-b711-418d-90ba-c70e1eebd582">OMT</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Stock Menu P........-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#stockCardP"
                aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-archive"></i>
                <span>Brands (P)</span>
            </a>
            <div id="stockCardP" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <!-- <h6 class="collapse-header">Back end :</h6>-->
                    <a class="collapse-item" href="/stockCard/Report/d64ea28d-768c-48e8-ade3-5e7ba3d9d418">PACTOUCH</a>
                    <a class="collapse-item" href="/stockCard/Report/3f3c2a7c-f795-4b4e-ba35-05b1fb2f2913">PANASONIC PLC</a>
                    <a class="collapse-item" href="/stockCard/Report/ffae16e3-5723-4471-b078-77fa3bf99fd1">PANASONIC SERVO</a>
                    <a class="collapse-item" href="/stockCard/Report/c671b46b-339f-4c41-9a4f-b47cf1d3c8b6">PATLITE</a>
                    <a class="collapse-item" href="/stockCard/Report/44d19257-0790-48bf-b061-3587a2a8d605">PROJECT</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Stock Menu R........-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#stockCardR"
                aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-archive"></i>
                <span>Brands (R) (I)</span>
            </a>
            <div id="stockCardR" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <!-- <h6 class="collapse-header">Back end :</h6>-->
                    <a class="collapse-item" href="/stockCard/Report/1ffac235-c202-4413-aaa8-534f21a61ea9">ROBOT-AUBO</a>
                    <a class="collapse-item" href="/stockCard/Report/280d6eb8-b39f-46e1-9124-764b3f2b5f59">ROR</a>
                    <a class="collapse-item" href="/stockCard/Report/e30664b9-ec1b-44e0-89fb-663ebbabac8c">I/O-LINK</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Stock Menu S........-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#stockCardS"
                aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-archive"></i>
                <span>Brands (S)</span>
            </a>
            <div id="stockCardS" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <!-- <h6 class="collapse-header">Back end :</h6>-->
                    <a class="collapse-item" href="/stockCard/Report/39853b85-a687-48d9-8a79-b2beea309eca">SAMYONG</a>
                    <a class="collapse-item" href="/stockCard/Report/b55c15fc-1e22-4313-93af-f0ce8deba687">SECOMEA</a>
                    <a class="collapse-item" href="/stockCard/Report/68d87e15-2c72-49e9-8e34-f56ccabb06be">SHI</a>
                    <a class="collapse-item" href="/stockCard/Report/98f0b9d5-60a2-4f9e-bf6c-abec15b270fd">SHILIN</a>
                    <a class="collapse-item" href="/stockCard/Report/db0cd3e8-3c22-46c2-a43e-6e3a3564e378">SUM</a>
                    <a class="collapse-item" href="/stockCard/Report/6a053488-afdf-4f3e-9260-d4c8941d80aa">SUNGIL</a>
                    <a class="collapse-item" href="/stockCard/Report/296945be-9137-4299-91ba-6aa87b64f340">SYS</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Stock Menu T........-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#stockCardT"
                aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-archive"></i>
                <span>Brands (T)</span>
            </a>
            <div id="stockCardT" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <!-- <h6 class="collapse-header">Back end :</h6>-->
                    <a class="collapse-item" href="/stockCard/Report/1abe8181-6554-41bc-9fd8-1a77a983b780">TAI TG</a>
                    <a class="collapse-item" href="/stockCard/Report/281fe450-f5b6-43e4-9bbf-ce77ff50aec5">TAIYO</a>
                    <a class="collapse-item" href="/stockCard/Report/85158e87-cfdf-40a5-afd6-a3dce04ddad1">TDK</a>
                    <a class="collapse-item" href="/stockCard/Report/dcf4fee2-1dea-49c7-80f7-cef2f06374ac">TECMAN</a>
                    <a class="collapse-item" href="/stockCard/Report/60cf0fa3-7ae4-4e9b-849b-110b1aef78a6">THK</a>
                    <a class="collapse-item" href="/stockCard/Report/67348d36-700a-4eb6-9b6c-a799f43feb23">TOKUYAMA</a>
                    <a class="collapse-item" href="/stockCard/Report/040788a5-19cc-4731-b735-588dee772a25">TOSHIBA</a>
                    <a class="collapse-item" href="/stockCard/Report/ac4f01b5-2ea2-46bf-9ed7-e5d5cd956612">TOSHIBA OPTION</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Stock Menu U........-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#stockCardU"
                aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-archive"></i>
                <span>Brands (U) (V) (W) (Y)</span>
            </a>
            <div id="stockCardU" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <!-- <h6 class="collapse-header">Back end :</h6>-->
                    <a class="collapse-item" href="/stockCard/Report/cfbbb752-ba70-446d-8930-a08d9aaadfcf">ULVAC</a>
                    <a class="collapse-item" href="/stockCard/Report/369e0cb3-747d-404e-ae2d-9178abcdbea2">VEX</a>
                    <a class="collapse-item" href="/stockCard/Report/6a0e253f-8360-43a6-8724-10b9194e9d77">WEINTEK</a>
                    <a class="collapse-item" href="/stockCard/Report/221351e9-c6bd-4ce8-9453-3c48545ae20c">YAMAHA</a>
                    <a class="collapse-item" href="/stockCard/Report/3c574f33-13e0-44a1-bee7-39f06a1f4a2a">YASKAWA</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message 
        <div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" src="/img/undraw_rocket.svg" alt="...">
            <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
            <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
        </div>-->

    </ul>
    <!-- End of Sidebar -->