<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-book"></i>
    </div>
    <div class="sidebar-brand-text mx-3">PAC <sup>E-Catalog</sup></div>
  </a> -->
  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <!-- Heading -->
  <hr class="sidebar-divider">
  <div class="sidebar-heading text-">
    Premier Automation Center
  </div>
  <!-- Nav Item - Pages Collapse Menu -->
  <!-- <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fas fa-building fa-fw"></i>
      <span>Company</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">PAC :</h6>
        <a class="collapse-item" href="/pacEcatalog/aboutUs">About Us</a>
        <a class="collapse-item" href="/pacEcatalog/vision">Vision</a>
        <a class="collapse-item" href="/pacEcatalog/mission">Mission</a>
        <a class="collapse-item" href="/pacEcatalog/partner">Partner</a>
        <a class="collapse-item" href="/pacEcatalog/timeline">Timeline</a>
        <a class="collapse-item" href="/pacEcatalog/certificate">Certificate</a>
        <a class="collapse-item" href="/pacEcatalog/contact">Contact</a>
      </div>
    </div>
  </li> -->

  <!-- Menu Setting -->
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Business
  </div>
  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="/charts">
      <i class="fas fa-briefcase fa-fw"></i>
      <span>Trading</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/tableTest">
      <i class="fas fa-city fa-fw"></i>
      <span>Solutions</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/tableTest">
      <i class="fas fa-university fa-fw"></i>
      <span>B2G</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/tableTest">
      <i class="fas fa-toolbox fa-fw"></i>
      <span>Service</span></a>
  </li>
  <!-- Nav Item - Stock Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#stockCard" aria-expanded="true"
      aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-archive"></i>
      <span>Product Automation</span>
    </a>
    <div id="stockCard" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Products :</h6>
        <a class="collapse-item" href="#">Mechanic part</a>
        <a class="collapse-item" href="#">Electric part</a>
        <a class="collapse-item" href="#">Robot part</a>
        <a class="collapse-item" href="#">Other part</a>
        <a class="collapse-item" href="#">Recent Product</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">
  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->