<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <nav>
        <div class="logo">
            <a href="/">PAC NodeJS</a>
        </div>

        <ul class="menu">
            <% if (typeof user !== 'undefined') { %>
                <li><a href="/home">Home</a></li>
                <li><a href="/logout" class="logout-btn">Logout</a></li>
            <% } else { %>
                <li><a href="/login" class="login-btn">Login</a></li>
                <!--<li><a href="/register">Register</a></li>-->
            <% } %>
            
        </ul>
    </nav>

    <div class="ms-4 me-4 mt-4">
        <h1>Welcome to the index page</h1>
        <% if (typeof user !== 'undefined') { %>
            <h2>Hello, <%= user.name %></h2>
        <% } %>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div id="myPlot2" style="width:45%;"></div>
        </div>
        <div class="col-md-6">
            <div id="myPlot" style="width:45%;"></div>
        </div>
    </div>
    
    
<script>
const xArray = ["Italy", "France", "Spain", "USA", "Argentina"];
const yArray = [55, 49, 44, 24, 15];

const data = [{
  x:xArray,
  y:yArray,
  type:"bar",
  orientation:"v",
  marker: {color:"rgba(0,0,255,0.6)"}
}];
const layout = {title:"World Wide Wine Production"};
Plotly.newPlot("myPlot", data, layout);




const data2 = [{labels:xArray, values:yArray, type:"pie"}];

Plotly.newPlot("myPlot2", data2, layout);
</script>
    
</body>
</html>