<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/login.css">
</head>
<body>

    <div class="login-container">
        <h2>Login</h2>


        <form action="/login" method="POST">
        <div>
            <label for="email">Email :</label>
            <input type="email" name="email" placeholder="Enter your email" required>
        </div>
        <div>
            <label for="password">Password :</label>
            <input type="password" name="password" placeholder="Enter your password" required>
        </div>
            <button type="submit">Login</button>
        </form>

        <!-- <div class="login-link">
            <a href="/register">Register</a>
        </div>-->
                    <!-- Display success or error message -->
                    <% if (typeof success_msg !== 'undefined') { %>
                        <p style="color: green;"><%= success_msg %></p>
                    <% } %>
                    <% if (typeof error_msg !== 'undefined') { %>
                        <p style="color: red;"><%= error_msg %></p>
                    <% } %>
    </div>
    
</body>
</html>