  .image-container {
    vertical-align: middle;
    border-style: none;
    /* กำหนดการเปลี่ยนผ่าน (transition) เพื่อให้การซูมดูนุ่มนวล */
    transition: transform 0.3s ease;
  }

  .image-container:hover {
    /* ซูมภาพให้ใหญ่ขึ้น 1.2 เท่า (หรือตามค่าที่คุณต้องการ) */
    transform: scale(1.1);
  }